@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Movers 101<br />
    Balanga, 2100 Bataan<br />
    <abbr title="Phone">P:</abbr>
    +63927.123.6789
</address>

<address>
    <strong>Support:</strong>   <a href="movers101@gmail.com">movers@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="movers@marketing.com">movers@marketing.com</a>
</address>