@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image: url(&quot;https://static.akacdn.ru/static/images/2018/11/3307803f68de0b7311b3a90e3be43270.jpg&quot;);">
    <h1>Halloween 2018</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <center>
            <a class="poster" href="/film/deadpool-2-super-duper-cut.0r7o3"> <img src="https://static.akacdn.ru/static/images/2018/05/d467d134e7d5563d78278f47f3be9611.jpg" alt="Deadpool 2 (Super Duper Cut) | Bmovies"><h3>Deadpool 2 (Super Duper Cut)</h3></a>
        </center>
    </div>
    <div class="col-md-4">
        <center>
            <a class="poster" href="/film/incredibles-2.5kj1m"> <img src="https://static.akacdn.ru/static/images/2018/06/d5f0730d643968ab6326144abee1808e.jpg" alt="Incredibles 2 | Bmovies"><h3>Incredibles 2</h3></a>
        </center>
    </div>
    <div class="col-md-4">
        <center>
            <a class="poster" href="/film/the-equalizer-2.wo4n6"> <img src="https://static.akacdn.ru/static/images/2018/11/19b9b273bca8b232927a419138f4c653.jpg" alt="The Equalizer 2 | Bmovies"><h3>The Equalizer 2</h3></a>
        </center>
    </div>
</div>