@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center>
        <h1>CellPhone</h1>
    </center>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to CellPhone</h2>
        <p>See the best brand of your CellPhone now.</p>
    </div>
    <div class="col-md-4">
        <h2>New Brand is Coming</h2>
        <p>You can see the brands of your mobile now.</p>
    </div>
    <div class="col-md-4">
        <h2>Click it</h2>
        <p>The best you can.</p>
    </div>
</div>